name: Pytest no PR

on:
  pull_request:
    branches: [ "master" ] 

jobs:
  testes:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4 

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13.3' 

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Executar Pytest
      run: |
        pytest